<!-- template grid_admin.html -->

<element-admin element="$ctrl.element">
    <admin-title>
        Grille
    </admin-title>
    <admin-edit>
        <div ng-repeat="element in $ctrl.element.childs">
            <div ng-switch on="element.type">
                <element-grid-element-admin class="animate-switch" ng-switch-when="gridElement" element="element">
                </element-grid-element-admin>
                <div class="animate-switch" ng-switch-default>default</div>
            </div>
            <div ng-if="($index+1)%1 ===0" class="clearfix visible-xs-block"></div>
            <div ng-if="($index+1)%2 ===0" class="clearfix visible-sm-block"></div>
            <div ng-if="($index+1)%3 ===0" class="clearfix visible-md-block"></div>
            <div ng-if="($index+1)%4 ===0" class="clearfix visible-lg-block"></div>
        </div>
        <div class="clearfix"></div>
        <element-menu-item element="$ctrl.element"></element-menu-item>
    </admin-edit>
    <admin-view>
        <element-grid element="$ctrl.element"></element-grid>
    </admin-view>
</element-admin>
