
                 <div>
                        <h2>Fournisseurs d'identité associés à votre compte</h2>

                        <empty empty-items="logins" empty-text="'Aucun fournisseurs associés.'"></empty>

                        <table class="table table-striped" ng-if="logins.length >0">
                            <thead>
                                <!-- En-tête du tableau -->
                                <tr>
                                    <th>Fournisseur(s)</th>
                                    <th>Supprimer association(s)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Corps du tableau -->
                                <tr data-ng-repeat="login in $ctrl.logins">
                                    <td><span ng-bind="login"></span></td>
                                    <td><button ng-disabled="logins.length <= 1" type="button" class="btn btn-lg btn-danger" ng-click="$ctrl.deleteUserLogin(login)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div ng-if="$ctrl.logins.length < 4">
                            <p>Associer votre compte à d'autres fournisseurs d'identité. Cela vous permettra de vous connectez via ces différents founisseurs.</p>
                            <form action="{{$ctrl.postUrl}}" method="post" novalidate="novalidate">
                                <input type="hidden" name="returnUrl" ng-value="$ctrl.returnUrl" />
                                <p>
                                    <button ng-if="!$ctrl.hasLogin('Google')" type="submit" class="btn btn-lg btn-social btn-google" id="Google" name="provider" value="Google" title="Connexion avec votre compte Google">
                                        <i class="fa fa-google"></i>Google
                                    </button>
                                    <button ng-if="!$ctrl.hasLogin('Facebook')" type="submit" class="btn btn-lg btn-social btn-facebook" id="Facebook" name="provider" value="Facebook" title="Connexion avec votre compte Facebook">
                                        <i class="fa fa-facebook"></i>Facebook
                                    </button>
                                    <button ng-if="!$ctrl.hasLogin('Microsoft')" type="submit" class="btn btn-lg btn-social btn-microsoft" id="Microsoft" name="provider" value="Microsoft" title="Connexion avec votre compte Microsoft">
                                        <i class="fa fa-windows"></i>Microsoft
                                    </button>
                                    <button ng-if="!$ctrl.hasLogin('Twitter')" type="submit" id="Twitter" name="provider" value="Twitter" class="btn btn-lg btn-social btn-twitter" title="Connexion avec votre compte Twitter">
                                        <i class="fa fa-twitter"></i>
                                        Twitter
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
