
<element-admin element="$ctrl.element" on-change="$ctrl.onChange">
    <admin-title>
        Liens
    </admin-title>
        <admin-edit>
            <div ng-form name="fieldForm" class="form-group">
                <label for="uType" class="col-sm-3 col-md-3 col-xs-12 control-label">Type</label>
                <div class="col-sm-9 col-md-9 col-xs-12">
                    <select name="field" id="uType" class="form-control" ng-model="$ctrl.element.data.type">
                        <option value="">Page Interne</option>
                        <option value="facebook">Page facebook</option>
                        <option value="phone">Numéro de téléphone</option>
                        <option value="mail">Email</option>
                    </select>
                </div>
            </div>

            <div ng-switch on="$ctrl.element.data.type">
                <div ng-switch-when="phone">

                    <div ng-form name="fieldForm" class="form-group">
                        <label for="Label" class="col-sm-3 col-md-3 col-xs-12 control-label">Numéro téléphone</label>
                        <div class="col-sm-9 col-md-9 col-xs-12">
                            <input type="text" name="field" id="Label" ng-model="$ctrl.element.data.url" class="form-control" />
                        </div>
                    </div>

                </div>
                <div ng-switch-when="mail">

                    <div ng-form name="fieldForm" class="form-group">
                        <label for="Url" class="col-sm-3 col-md-3 col-xs-12 control-label">Email</label>
                        <div class="col-sm-9 col-md-9 col-xs-12">
                            <input type="text" name="field" id="Url" ng-model="$ctrl.element.data.url" class="form-control" />
                        </div>
                    </div>

                </div>
                <div ng-switch-when="facebook">

                    <div ng-form name="fieldForm" class="form-group">
                        <label for="Url" class="col-sm-3 col-md-3 col-xs-12 control-label">Url</label>
                        <div class="col-sm-9 col-md-9 col-xs-12">
                            <input type="text" name="field" id="Url" ng-model="$ctrl.element.data.url" class="form-control" />
                        </div>
                    </div>

                </div>
                <div ng-switch-default>
                    <div ng-form name="fieldForm" class="form-group">
                        <label for="Link" class="col-sm-3 col-md-3 col-xs-12 control-label">Page</label>
                        <div class="col-sm-9 col-md-9 col-xs-12">
                            <select id="Link" name="uLink" class="form-control" ng-model="$ctrl.element.data.id" ng-options="c.id as c.title for c in $ctrl.menuItems">
                                <option value="">- Sélectionner -</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-form name="fieldForm" class="form-group">
                <label for="uLabel" class="col-sm-3 col-md-3 col-xs-12 control-label">Libellé</label>
                <div class="col-sm-9 col-md-9 col-xs-12">
                    <input type="text" name="field" id="uLabel" ng-model="$ctrl.element.data.label" class="form-control" />
                </div>
            </div>
        </admin-edit>
        <admin-view>
            <element-link element="$ctrl.element">
            </element-link>
        </admin-view>
</element-admin>
      
