<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 mw-login text-center">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Connexion <a href="{{vm.domainLoginUrl}}" alt="Système d'authentification centralisé"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> bworld</a> </h2>
            </div>
            <div class="panel-body">
                <form name="formPerso" role="form" class="form-horizontal" enctype="multipart/form-data" novalidate mw-submit="vm.submit(formPerso)">
                    <div class="row">
                        <div class="form-group form-group-lg" mw-container="formPerso.uEmail" style="text-align: left;">
                            <label class="col-sm-3 control-label">Email : </label>
                            <div class="col-sm-9 col-md-7">
                                <input type="text" name="uEmail" ng-model="vm.user.email" class="form-control" mw-validate="vm.rules.email"/>
                                <span mw-error="formPerso.uEmail"></span>
                            </div>
                        </div>
                        <div class="form-group form-group-lg" mw-container="formPerso.uPassword" style="text-align: left;">
                            <label class="col-sm-3 control-label">Mot de passe : </label>
                            <div class="col-sm-9 col-md-7">
                                <input type="password" name="uPassword" ng-model="vm.user.password" class="form-control" mw-validate="vm.rules.password"/>
                                <span mw-error="formPerso.uPassword"></span>
                            </div>
                        </div>
                        <div class="form-group form-group-lg">
                            <div class="col-sm-6">
                                <a ng-href="{{vm.getNavCreate()}}">Créer un compte</a>
                            </div>
                            <div class="col-sm-6">
                                <a href="/utilisateur/reset-password?dm=false">Mot de passe perdu</a>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok"></span> Valider</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <div class="col-sm-2"></div>
    </div>
</div>