
        <form role="form" name="form" class="form-horizontal" enctype="multipart/form-data" novalidate mw-submit="vm.submit(form)">
          

            <div class="form-group form-group-lg" mw-container="form.uEmail">
                <label for="Email" class="col-sm-3 control-label">Email: </label>
                <div class="col-sm-4">
                    <input id="Email" type="email" name="uEmail" ng-model="vm.user.email" class="form-control" mw-validate="vm.rules.email"/>
                    <span mw-error="form.uEmail"></span>
                </div>
            </div>
            <div class="form-group form-group-lg" mw-container="form.uPassword">
                <label for="Password" class="col-sm-3 control-label">Mot de passe: </label>
                <div class="col-sm-4">
                    <input ng-if="vm.passwordHided" id="Password" type="password" name="uPassword" ng-model="vm.user.password" class="form-control" mw-validate="vm.rules.password"/>
                    <input ng-if="!vm.passwordHided" id="Password" type="text" name="uPassword" ng-model="vm.user.password" class="form-control" mw-validate="vm.rules.password"/>
                    <span mw-error="form.uPassword"></span>
                </div>
                <div class="col-sm-5">
                    <button type="button" ng-if="vm.passwordHided" ng-click="vm.showPassword()" class="btn btn-lg btn-default">Afficher</button>
                    <button type="button" ng-if="!vm.passwordHided" ng-click="vm.hidePassword()" class="btn btn-lg btn-default">Masquer</button>
                </div>
            </div>
            <div class="form-group form-group-lg" mw-container="form.uPasswordConfirm">
                <label for="PasswordConfirm" class="col-sm-3 control-label">Confirmation du mot de passe: </label>
                <div class="col-sm-4">
                    <input ng-if="vm.passwordHided"  id="PasswordConfirm" type="password" name="uPasswordConfirm" ng-model="vm.user.passwordConfirm" class="form-control" mw-validate="vm.rules.passwordConfirm" />
                    <input ng-if="!vm.passwordHided"  id="PasswordConfirm" type="text" name="uPasswordConfirm" ng-model="vm.user.passwordConfirm" class="form-control" mw-validate="vm.rules.passwordConfirm" />
                    <span mw-error="form.uPasswordConfirm"></span>
                </div>
            </div>
            <div class="form-group form-group-lg" mw-container="form.uLastName">
                <label for="LastName" class="col-sm-3 control-label">Nom: </label>
                <div class="col-sm-4">
                    <input id="LastName" type="text" name="uLastName" ng-model="vm.user.lastName" class="form-control" mw-validate="vm.rules.lastName" />
                    <span mw-error="form.uLastName"></span>
                </div>
            </div>
            <div class="form-group form-group-lg" mw-container="form.uFirstName">
                <label for="FirstName" class="col-sm-3 control-label">Prénom: </label>
                <div class="col-sm-4">
                    <input id="FirstName" type="text" name="uFirstName" ng-model="vm.user.firstName" class="form-control" mw-validate="vm.rules.firstName"/>
                    <span mw-error="form.uFirstName"></span>
                </div>
            </div>
            <div class="form-group form-group-lg" mw-container="form.uCondition">
                <div class="checkbox col-sm-offset-3 col-sm-9">
                    <label>
                        <input name="uCondition" type="checkbox" ng-model="site.isConditionAccepted" mw-validate="vm.rules.condition">
                        J'accepte les <a href="https://www.bworld.fr/page/5c34885b-01ee-4436-99b6-adbf36c467dc/regles-de-confidentialite?display_menu=false" target="_blank">règles de confidentialité</a>
                    </label>
                    <span mw-error="form.uCondition"></span>
                </div>
            </div>
            <div ng-transclude="submit">
                <hr />
                <div class="form-group form-group-lg" >
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-ok"></span> Inscription</button>
                    </div>
                </div>
            </div>
        </form>
