
<a ng-if="$ctrl.getChilds().length <=0" ng-href="{{$ctrl.menuItem.routePath}}">
    <span class="{{$ctrl.getIcon($ctrl.menuItem)}}"></span>
    <span ng-bind="$ctrl.menuItem.title"></span>
</a>

<li ng-if="$ctrl.getChilds().length >0" class="dropdown open mw-submenuitem" uib-dropdown="">
    <a ng-href="{{$ctrl.menuItem.routePath}}" role="button" class="dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="true" >
        <span class="{{$ctrl.getIcon($ctrl.menuItem)}}"></span>
        <span ng-bind="$ctrl.menuItem.title"></span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li ng-class="$ctrl.isActive($ctrl.menuItem.routePath) ? 'active' : ''">
            <a ng-href="{{$ctrl.menuItem.routePath}}">
                <span class="{{$ctrl.getIcon($ctrl.menuItem)}}"></span>
                <span ng-bind="$ctrl.menuItem.title"></span>
            </a>
        </li>
        <li class="divider"></li>
        <sub-menu-items menu-items="$ctrl.getChilds()" ></sub-menu-items>
    </ul>
</li>