#loading-layer {
	position: fixed;
	z-index: 99998;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	cursor: not-allowed;
	filter: alpha(opacity=60);
	opacity: 0.6;
	background: #000000;
	/*url(/Content/images/ajax-loader.gif) no-repeat center;*/
}

#loading {
	position: fixed;
	z-index: 99999;
	top: 200px;
	width: 100%;
	text-align: center;
	font-size: 3em;
	color: white;
	text-shadow: 2px 2px 2px #021124;
}

@media (max-width:768px) {
	#loading {
		font-size: 1.5em;
	}
}

#circularG {
	position: relative;
	width: 68px;
	height: 68px;
	margin: auto;
}

.circularG {
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	animation-name: bounce_circularG;
	-o-animation-name: bounce_circularG;
	-ms-animation-name: bounce_circularG;
	-webkit-animation-name: bounce_circularG;
	-moz-animation-name: bounce_circularG;
	animation-duration: 0.478s;
	-o-animation-duration: 0.478s;
	-ms-animation-duration: 0.478s;
	-webkit-animation-duration: 0.478s;
	-moz-animation-duration: 0.478s;
	animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-direction: normal;
	-o-animation-direction: normal;
	-ms-animation-direction: normal;
	-webkit-animation-direction: normal;
	-moz-animation-direction: normal;
}

#circularG_1 {
	left: 0;
	top: 27px;
	animation-delay: 0.178s;
	-o-animation-delay: 0.178s;
	-ms-animation-delay: 0.178s;
	-webkit-animation-delay: 0.178s;
	-moz-animation-delay: 0.178s;
}

#circularG_2 {
	left: 7px;
	top: 7px;
	animation-delay: 0.244s;
	-o-animation-delay: 0.244s;
	-ms-animation-delay: 0.244s;
	-webkit-animation-delay: 0.244s;
	-moz-animation-delay: 0.244s;
}

#circularG_3 {
	top: 0;
	left: 27px;
	animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
}

#circularG_4 {
	right: 7px;
	top: 7px;
	animation-delay: 0.356s;
	-o-animation-delay: 0.356s;
	-ms-animation-delay: 0.356s;
	-webkit-animation-delay: 0.356s;
	-moz-animation-delay: 0.356s;
}

#circularG_5 {
	right: 0;
	top: 27px;
	animation-delay: 0.422s;
	-o-animation-delay: 0.422s;
	-ms-animation-delay: 0.422s;
	-webkit-animation-delay: 0.422s;
	-moz-animation-delay: 0.422s;
}

#circularG_6 {
	right: 7px;
	bottom: 7px;
	animation-delay: 0.478s;
	-o-animation-delay: 0.478s;
	-ms-animation-delay: 0.478s;
	-webkit-animation-delay: 0.478s;
	-moz-animation-delay: 0.478s;
}

#circularG_7 {
	left: 27px;
	bottom: 0;
	animation-delay: 0.544s;
	-o-animation-delay: 0.544s;
	-ms-animation-delay: 0.544s;
	-webkit-animation-delay: 0.544s;
	-moz-animation-delay: 0.544s;
}

#circularG_8 {
	left: 7px;
	bottom: 7px;
	animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-ms-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
}

@keyframes bounce_circularG {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(.3);
	}
}

@-o-keyframes bounce_circularG {
	0% {
		-o-transform: scale(1);
	}
	100% {
		-o-transform: scale(.3);
	}
}

@-ms-keyframes bounce_circularG {
	0% {
		-ms-transform: scale(1);
	}
	100% {
		-ms-transform: scale(.3);
	}
}

@-webkit-keyframes bounce_circularG {
	0% {
		-webkit-transform: scale(1);
	}
	100% {
		-webkit-transform: scale(.3);
	}
}

@-moz-keyframes bounce_circularG {
	0% {
		-moz-transform: scale(1);
	}
	100% {
		-moz-transform: scale(.3);
	}
}