<mw-alert></mw-alert>

<div class="ng-cloak mw-jumbotron" ng-if="$ctrl.master.isLogo">

    <div ng-if="!$ctrl.master.isJumbotron">
        <img ng-if="$ctrl.master.imageLogos.length === 1" ng-src="{{$ctrl.master.logoUrl}}" class="center-block img-responsive" alt="Logo du site" />
        <div uib-carousel active="$ctrl.active" ng-if="$ctrl.master.imageLogos.length > 1" interval="8000" no-wrap="false">
            <div uib-slide ng-repeat="slide in $ctrl.master.imageLogos track by $index" index="$index">
                <img ng-src="{{slide.url}}" style="margin: auto" class="img-responsive" />
            </div>
        </div>
    </div>

    <div ng-if="$ctrl.master.isJumbotron" class="jumbotron">
        <div class="container">
            <img ng-if="$ctrl.master.imageLogos.length === 1" ng-src="{{$ctrl.master.logoUrl}}" class="center-block img-responsive" alt="Logo du site" />

            <div uib-carousel active="$ctrl.active" ng-if="$ctrl.master.imageLogos.length > 1" interval="8000" no-wrap="false">
                <div uib-slide ng-repeat="slide in $ctrl.master.imageLogos track by $index" index="$index">
                    <img ng-src="{{slide.url}}" style="margin: auto" class="img-responsive" />
                    <div nf-if="slide.title && slide.description" class="carousel-caption">
                        <h4 ng-if="slide.title">{{slide.title}}</h4>
                        <p ng-if="slide.description">{{slide.description}}</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>