<p class="mw-author" ng-if="$ctrl.data.userInfo.userName && !$ctrl.data.lastUpdateUserInfo.userName">
    <a ng-if="$ctrl.data.userInfo.authorUrl" rel="me" ng-href="{{$ctrl.data.userInfo.authorUrl}}">
        <span itemprop="author" ng-bind="$ctrl.data.userInfo.userName"></span>
    </a>
    <span ng-if="!$ctrl.data.userInfo.authorUrl" itemprop="author" ng-bind="data.userInfo.userName"></span>

    le <span ng-bind="$ctrl.data.createDate | date:'dd/MM/yyyy à HH:mm'"></span>

</p>
<p class="mw-author" ng-if="$ctrl.data.userInfo.userName && $ctrl.data.lastUpdateUserInfo.userName">
    <a ng-if="$ctrl.data.userInfo.authorUrl" rel="me" ng-href="{{$ctrl.data.userInfo.authorUrl}}">
        <span itemprop="author" ng-bind="$ctrl.data.userInfo.userName"></span>
    </a>
    <span ng-if="!$ctrl.data.userInfo.authorUrl" itemprop="author" ng-bind="$ctrl.data.userInfo.userName"></span>

    le <span ng-bind="$ctrl.data.createDate | date:'dd/MM/yyyy à HH:mm'"></span>, mis à jour <span ng-if="$ctrl.data.userInfo.userName != $ctrl.data.lastUpdateUserInfo.userName">
        par
        <a ng-if="$ctrl.data.lastUpdateUserInfo.authorUrl" rel="me" ng-href="{{$ctrl.data.lastUpdateUserInfo.authorUrl}}">
            <span itemprop="author" ng-bind="$ctrl.data.lastUpdateUserInfo.userName"></span>
        </a>
        <span ng-if="!$ctrl.data.lastUpdateUserInfo.authorUrl" itemprop="author" ng-bind="$ctrl.data.lastUpdateUserInfo.userName"></span>
    </span>
    le <span ng-bind="$ctrl.data.updateDate | date:'dd/MM/yyyy à HH:mm'"></span>
</p>

<p class="mw-author" ng-if="!$ctrl.data.userInfo.userName && $ctrl.data.lastUpdateUserInfo.userName">
    Mis à jour <span ng-if="$ctrl.data.userInfo.userName != $ctrl.data.lastUpdateUserInfo.userName">
        par
        <a ng-if="$ctrl.data.lastUpdateUserInfo.authorUrl" rel="me" ng-href="{{$ctrl.data.lastUpdateUserInfo.authorUrl}}">
            <span itemprop="author" ng-bind="$ctrl.data.lastUpdateUserInfo.userName"></span>
        </a>
        <span ng-if="!$ctrl.data.lastUpdateUserInfo.authorUrl" itemprop="author" ng-bind="$ctrl.data.lastUpdateUserInfo.userName"></span>
    </span>
    le <span ng-bind="$ctrl.data.updateDate | date:'dd/MM/yyyy à HH:mm'"></span>
</p>