
<div class="mw-edit-panel" ng-mouseenter="$ctrl.select()" ng-mouseleave="$ctrl.unselect()" >

    <div data-ng-class="{'hover': $ctrl.isSelect(), 'open': $ctrl.isEditMode()}">
        <button ng-show="$ctrl.isEditButton()" class="btn btn-success mw-edit" ng-click="$ctrl.clickEdit()" type="button" data-toggle="dropdown" aria-expanded="true">
            <span class="glyphicon glyphicon glyphicon-edit"></span>
        </button>
        <div ng-if="$ctrl.isEditMode()">

            <div ng-form name="fieldForm" class="form-group">
                <label for="{{$ctrl.element.property}}" class="col-sm-6 col-md-6 col-xs-4 control-label" ng-transclude="title">Title</label>
                <div ng-transclude="menu">
                    <element-menu element="$ctrl.element" on-change="$ctrl.onChange"  class="col-sm-6 col-md-6 col-xs-8">
                    </element-menu>
                </div>
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <div ng-transclude="edit"></div>
                </div>
            </div>
        </div>
        <div ng-if="!$ctrl.isEditMode()" ng-transclude="view"></div>
    </div>
    <!-- Commentaire 1 -->
    <div ng-transclude="add">
        <element-menu-item ng-if="$ctrl.isLastElement() || $ctrl.isEditMode()" element="$ctrl.element" mode="$ctrl.mode" on-change="$ctrl.onChange">
        </element-menu-item>
    </div>
    <!-- Commentaire 2 -->
</div>