
<div class="btn-toolbar mw-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group pull-right" role="group" aria-label="First group">
        <button type="button" ng-click="$ctrl.up($ctrl.element)" ng-show="$ctrl.canUp($ctrl.element)" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
        <button type="button" ng-click="$ctrl.down($ctrl.element)" ng-show="$ctrl.canDown($ctrl.element)" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
    </div>
    <div class="btn-group pull-right" role="group" aria-label="Second group">
        <button type="button" ng-click="$ctrl.deleteElement($ctrl.element)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    </div>
</div>