

<page class="mw-user-panel">
    <content>
        <div>

            <h1><span class="glyphicon glyphicon-user ng-scope"></span>Utilisateur: {{$ctrl.user.userName}}</h1>
            <p>Bienvenue sur votre page utilisateur.</p>

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Vos services</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li><a href="{{$ctrl.getInternalPath('/utilisateur/messages')}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><span>Messages</span><span class="badge" ng-if="$ctrl.notification.numberUnreadMessage > 0" ng-bind="$ctrl.notification.numberUnreadMessage"></span></a></li>
                                <li><a href="{{$ctrl.getInternalPath('/utilisateur/compte')}}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span>Paramètres</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Vos sites</h3>
                        </div>
                        <div class="panel-body">
                            <ul ng-if="$ctrl.user.sites.length > 0">
                                <li data-ng-repeat="site in $ctrl.user.sites"><a ng-href="{{site.url}}" ng-bind="site.url"></a></li>
                            </ul>

                            <div class="text-center" ng-if="$ctrl.user.sites.length <= 0">
                                <button type="button" class="btn btn-primary btn-lg" ng-click="$ctrl.goCreateSite()">Démarrer votre site</button>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="clearfix"></div>

            </div>

        </div>

    </content>
</page>
