<div class="form-group form-group-lg" ng-form="subForm">
    <label for="{{$ctrl.element.property}}" class="col-sm-3 col-xs-12 control-label">{{$ctrl.element.label}}</label>
    <div class="col-sm-2 col-xs-12">
        <button id="{{$ctrl.element.property}}" name="{{$ctrl.element.property}}" colorpicker type="button" colorpicker-position="top" ng-model="$ctrl.element.data" style="background-color: {{$ctrl.element.data}}; color:white;" class="btn btn-lg">
            <span class="glyphicon glyphicon-pencil"></span>Modifier
        </button>
    </div>
    <div class="col-sm-2 col-xs-12">
        <input id="{{$ctrl.element.property}}" type="text" name="{{$ctrl.element.property}}" ng-model="$ctrl.element.data" class="form-control">
    </div>
</div>