<element-admin element="$ctrl.element" on-change="$ctrl.onChange">
    <admin-title>
        Vidéo Youtube
    </admin-title>
    <admin-edit>
        <div ng-form name="fieldForm" class="form-group">
            <label for="Label" class="col-sm-3 col-md-3 col-xs-12 control-label">Url *</label>
            <div class="col-sm-9 col-md-9 col-xs-12">
                <input type="text" name="field" id="Label" ng-model="$ctrl.element.data.url" class="form-control" />
            </div>
        </div>
    </admin-edit>
    <admin-view>
        <element-youtube ng-if="!$ctrl.isEditMode()" element="$ctrl.element"></element-youtube>
    </admin-view>
</element-admin>

