<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>404: La page demandée n'existe pas ou plus</title>
</head>
<body>
    <h1>La page demandée n'existe pas ou plus</h1>
    <p>Rendez-vous sur la <a href="/">page d'acceuil</a> afin de revenir sur la bonne arborescence sur site.</p>
</body>
</html>