{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["react", "react-hooks"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "prettier/prettier": 0,
    "linebreak-style": ["warn", "unix"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "react/display-name": 0,
    "no-unused-vars": 0,
    "no-prototype-builtins": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-key": 0,
    "no-useless-escape": 0,
    "no-case-declarations": 0,
    "no-duplicate-case": 0,
    "react/jsx-no-duplicate-props": 0,
    "react/jsx-no-target-blank": 0,
    "no-unreachable": 0
  }
}
