<!-- template cpmments.html -->

<div class="mw-comments" ng-controller="CommentController">
    <h2 id="comments">{{comments.length}} commentaire(s)</h2>

    <table class="table table-striped" ng-if="comments.length > 0">
        <tbody>
        <tr ng-repeat="comment in comments">
            <td>
                <span><b>{{comment.userInfo.userName}} à {{comment.dateCreate | date:'dd/MM/yyyy à HH:mm' }}</b></span>
                <p text="comment.comment"></p>
            </td>
            <td style="width: 40px;"><button ng-if="comment.canDelete" type="button" class="btn btn-danger" ng-click="delete(comment.id)"><span class="glyphicon glyphicon-remove"></span></button>
                </td>
</tr>
        </tbody>
    </table>

    <div ng-if="!user.isAuthenticate">
        <p>Vous devez être <a href="/utilisateur/connexion?url={{url}}" rel="nofollow">authentifier</a> afin d'ajouter un commentaire.</p>
    </div>

    <div class="mw-form-comment" ng-show="user.isAuthenticate">
    <!--    <form role="form" name="formNotify" class="form-horizontal" novalidate enctype="multipart/form-data" mw-submit="submit()">
            <div class="form-group">
                <div class="checkbox col-sm-offset-3 col-sm-9">
                    <label>
                        <input name="uNotify" type="checkbox" ng-model="model.isNotify">
                        Je souhaite être notifier par toutes les réponses
                    </label>
                </div>
            </div>
        </form> -->
    
                <div ng-show="!messageSended">
                <h2>Ajouter un commentaire</h2>
                <form role="form" name="form" class="form-horizontal" novalidate enctype="multipart/form-data" mw-submit="submit()">

                    <div class="form-group" mw-container="form.uMessage">
                        <label for="uMessage" class="col-sm-3 control-label">Message*</label>
                        <div class="col-sm-4">
                            <textarea ng-model="model.message" class="form-control" id="uMessage" name="uMessage" rows="4" cols="30" mw-validate="rules.message"></textarea>
                            <span mw-error="form.uMessage"></span>
                        </div>
                    </div>
                   
                    <hr />
                    <div class="form-group">
                        <div class="col-sm-3 col-xs-6">
                        </div>
                        <div class="col-sm-9 col-xs-6 mw-action">
                            <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-send"></span><span>Envoyer</span></button>
                        </div>
                    </div>
                </form>

            </div>
            <div ng-show="messageSended">
                <h2>Commentaire envoyé</h2>
                <p>Votre commenatire a été envoyé avec succès</p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary btn-lg" ng-click="initMessage()">Nouveau commentaire</button>
                </div>
            </div>

</div>
</div>