<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="ApiUrl" value="https://rpc.ote.gandi.net/xmlrpc/"/>
    <add key="ApiKey" value="6klMAaysAS1KqRJBcoemMhYf"/>
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
