

  .mw-image-delete {
      position: absolute;
      top: 4px;
      left: 20px;
      background-color: rgba(201, 48, 44, 0.4);
  }

  .mw-image-up {
      position: absolute;
      top: 4px;
      left: 70px;
      background-color: rgba(44, 72, 201, 0.4);

  }

  .mw-image-down {
      position: absolute;
      top: 4px;
      left: 110px;
      background-color: rgba(44, 72, 201, 0.4);

  }


  .mw-file .file-panel h3 {
      color: white;
      font-size: 1.1em;
  }

  .mw-file .file-panel {
      font-size: 0.9em;
  }

  .mw-file .file-panel {
      position: fixed;
      z-index: 1000;
      top: 20px;
      background-color: slategrey;
      right: 20px;
      color: white;
      width: 300px;
      padding: 10px;
  }
