
<style>

    .mw-file .file-panel h3 {
        color: white;
        font-size: 1.1em;
    }

    .mw-file .file-panel {
        font-size: 0.9em;
    }

    .mw-file .file-panel {
        position: fixed;
        z-index: 1000;
        top: 20px;
        background-color: slategrey;
        right: 20px;
        color: white;
        width: 300px;
        padding: 10px;
    }

</style>

<script type="text/ng-template" id="file-switch-admin.html">
    <div ng-switch on="file.displayType">
        <div ng-switch-when="image" ng-switch on="file.behavior">
            <button type="button" class="btn btn-danger mw-image-delete" ng-click="$ctrl.destroy($ctrl.element, file)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button type="button" ng-click="$ctrl.up($ctrl.element, file)" ng-show="$ctrl.canUp($ctrl.element, file)" class="btn btn-primary mw-image-up">
                <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
            </button>
            <button type="button" ng-click="$ctrl.down($ctrl.element, file)" ng-show="$ctrl.canDown($ctrl.element, file)" class="btn btn-primary mw-image-down">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
            <img data-ng-src="{{file.thumbnailUrl}}" class="center-block img-responsive hand" alt="{{file.name}}" ng-click="$ctrl.open($ctrl.element, file, true)" />
        </div>
        <div ng-switch-when="video" >
            <mw-video file="file"></mw-video>
        </div>
    </div>
</script>

<div class="mw-file">
    <div class="text-center">
        <button type="button" class="btn btn-default btn-lg" ngf-select="$ctrl.uploadFiles($files, $invalidFiles)" multiple
                accept="image/*,video/mp4" ngf-max-size="1024MB">
            <span class="fa fa-camera"></span>
            Séléctionner fichiers
        </button>
    </div>
    <div ng-if="$ctrl.isFileUploading()" class="file-panel">
        <h3>Upload des fichiers</h3>
        {{$ctrl.errorMsg}}
        <p ng-repeat="f in $ctrl.files" style="font: smaller">
            {{f.name}} {{f.$errorParam}}
            <uib-progressbar ng-if="f.progress <100" animate="false" value="f.progress" type="success"><b>{{f.progress}}%</b></uib-progressbar>
        </p>
        <p ng-repeat="f in $ctrl.errFiles" style="font: smaller; color: red;">
            {{f.name}} {{f.$error}} {{f.$errorParam}}
        </p>

    </div>

    <gallery-file element="$ctrl.element" file-template="'file-switch-admin.html'">

    </gallery-file>
</div>
